.container-fluid {
    padding-bottom: 12px;
}

input[type=file] {
    display: none;
}

div.line {
    padding: 8px 8px 0 8px;
}

#messagesContainer {
    height: 200px;
    border-style: inset;
    overflow: scroll;
    padding: 8px;
}

.message {
    margin-top: 0;
}

.messageName {
    color: blue;
}

.messageText {
    padding-right: 8px;
}

.messageImage {
    padding-right: 8px;
}
